In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('sampledata.csv')
tp = (df['High']+ df['Low']+ df['Close'])/3
df['Typical Price'] = tp
print(df)

    Day   Open   High    Low  Close  Volume  Typical Price
0     1  47.04  48.24  47.04  48.15    3509      47.810000
1     2  48.17  48.89  47.97  48.36    4862      48.406667
2     3  48.55  49.71  48.52  49.55    1810      49.260000
3     4  49.55  49.87  48.51  49.41    3824      49.263333
4     5  49.41  49.96  45.84  46.36    2209      47.386667
5     6  46.35  46.51  44.61  45.60    4558      45.573333
6     7  45.54  45.54  43.63  44.02    3832      44.396667
7     8  44.05  44.49  43.19  43.57    3778      43.750000
8     9  43.63  45.29  43.63  45.00    1005      44.640000
9    10  44.96  44.96  42.88  43.44    4047      43.760000
10   11  43.44  45.01  43.24  44.90    2201      44.383333
11   12  44.90  45.53  44.76  45.18    2507      45.156667
12   13  45.13  45.13  43.78  44.39    4392      44.433333
13   14  44.09  44.24  42.70  42.95    3497      43.296667
14   15  43.09  43.57  42.56  43.08    1181      43.070000
15   16  42.94  43.90  42.25  42.52    1971      42.890000
16   17  42.64  44.08  42.62  43.99    4994      43.563333
17   18  43.99  45.32  43.90  45.23    2017      44.816667
18   19  45.23  45.62  44.37  44.82    2823      44.936667
19   20  44.83  45.73  44.03  45.63    2774      45.130000

In [9]:
n=14
for i in range(1,len(df)):
    if (df.loc[i, 'Typical Price']> df.loc[i-1, 'Typical Price']):
        pmf = df.loc[i,'Typical Price']* df.loc[i,'Volume']
        df.loc[i,'Positive Money Flow'] = pmf
    elif (df.loc[i, 'Typical Price']< df.loc[i-1, 'Typical Price']):
        nmf = df.loc[i,'Typical Price']* df.loc[i,'Volume']
        df.loc[i,'Negative Money Flow'] = nmf
i=1
while(n<len(df)):
    pmfs = df.loc[i:n,'Positive Money Flow'].sum()
    df.loc[n,'Positive Money Flow Sum'] = pmfs
    nmfs = df.loc[i:n,'Negative Money Flow'].sum()
    df.loc[n,'Negative Money Flow Sum'] = nmfs
    mr= df.loc[n,'Positive Money Flow Sum']/df.loc[n,'Negative Money Flow Sum']
    mfi = 100*mr/(1+mr)
    df.loc[n,'Money Flow index'] =mfi
    #print(nmfs)
    n+=1
    i+=1
print(df)

    Day   Open   High    Low  Close  Volume  Typical Price  \
0     1  47.04  48.24  47.04  48.15    3509      47.810000
1     2  48.17  48.89  47.97  48.36    4862      48.406667
2     3  48.55  49.71  48.52  49.55    1810      49.260000
3     4  49.55  49.87  48.51  49.41    3824      49.263333
4     5  49.41  49.96  45.84  46.36    2209      47.386667
5     6  46.35  46.51  44.61  45.60    4558      45.573333
6     7  45.54  45.54  43.63  44.02    3832      44.396667
7     8  44.05  44.49  43.19  43.57    3778      43.750000
8     9  43.63  45.29  43.63  45.00    1005      44.640000
9    10  44.96  44.96  42.88  43.44    4047      43.760000
10   11  43.44  45.01  43.24  44.90    2201      44.383333
11   12  44.90  45.53  44.76  45.18    2507      45.156667
12   13  45.13  45.13  43.78  44.39    4392      44.433333
13   14  44.09  44.24  42.70  42.95    3497      43.296667
14   15  43.09  43.57  42.56  43.08    1181      43.070000
15   16  42.94  43.90  42.25  42.52    1971      42.890000
16   17  42.64  44.08  42.62  43.99    4994      43.563333
17   18  43.99  45.32  43.90  45.23    2017      44.816667
18   19  45.23  45.62  44.37  44.82    2823      44.936667
19   20  44.83  45.73  44.03  45.63    2774      45.130000

    Positive Money Flow  Negative Money Flow  Positive Money Flow Sum  \
0                   NaN                  NaN                      NaN
1         235353.213333                  NaN                      NaN
2          89160.600000                  NaN                      NaN
3         188382.986667                  NaN                      NaN
4                   NaN        104677.146667                      NaN
5                   NaN        207723.253333                      NaN
6                   NaN        170128.026667                      NaN
7                   NaN        165287.500000                      NaN
8          44863.200000                  NaN                      NaN
9                   NaN        177096.720000                      NaN
10         97687.716667                  NaN                      NaN
11        113207.763333                  NaN                      NaN
12                  NaN        195151.200000                      NaN
13                  NaN        151408.443333                      NaN
14                  NaN         50865.670000            768655.480000
15                  NaN         84536.190000            533302.266667
16        217555.286667                  NaN            661696.953333
17         90395.216667                  NaN            563709.183333
18        126856.210000                  NaN            690565.393333
19        125190.620000                  NaN            815756.013333

    Negative Money Flow Sum  Money Flow index
0                       NaN               NaN
1                       NaN               NaN
2                       NaN               NaN
3                       NaN               NaN
4                       NaN               NaN
5                       NaN               NaN
6                       NaN               NaN
7                       NaN               NaN
8                       NaN               NaN
9                       NaN               NaN
10                      NaN               NaN
11                      NaN               NaN
12                      NaN               NaN
13                      NaN               NaN
14             1.222338e+06         38.606630
15             1.306874e+06         28.981040
16             1.306874e+06         33.613058
17             1.306874e+06         30.135476
18             1.202197e+06         36.484526
19             9.944738e+05         45.063673